server:
  port: ${PORT:8083}

spring:
  application:
    name: order-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}

product:
  service:
     url: ${PRODUCT_SERVICE_URL}

payment:
  payment-service:
    url: ${PAYMENT_SERVICE_URL}

stripe:
  api:
    url: https://api.stripe.com/v1
  secret-key: ${STRIPE_SECRET_KEY}


resilience4j:
  circuitbreaker:
    instances:
      productService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3

  retry:
    instances:
      productService:
        maxAttempts: 3
        waitDuration: 2s
        retryExceptions:
          - org.springframework.web.reactive.function.client.WebClientResponseException
          - java.io.IOException
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
